@import '~open-color/open-color';

.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .inputs-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .inputs {
    text-align: center;
    width: 2em;
    height: 1em;
    font-size: 40px;
    border: 1px solid $oc-blue-5;
  }
  
  .button {
    background: $oc-blue-5;
    color: white;
    border-radius: 0.3rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 3.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    &:active {
      background: $oc-blue-7;
    }
  }
}